.side-navbar{
	height: 100%
	width: 200px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	font-family: ariel;
	margin: 1em;
	overflow-x: hidden;
	padding-top: 10px;
}
.side-navbar a, .dropdown-button{
	padding: 5px 60px 10px 10px;
	text-decoration: none;
	font-size: 20px;
	color: gray;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}
.side-navbar a:hover, .dropdown-button:hover{
	color: white;
}
.active{
	background-color: green;
	color: white;
}
.dropdown-container{
	display: none;
	background-color: #262626;
	padding-left: 8px;
}